<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>部落战预约管理系统</title>
</head>
<body>
<form action="/timecfg" method="POST">
	结束时间：
	<input type="text" name="date" />
	<input type="text" name="time" />
	<input type="hidden" name="endTime" />
	<input type="submit" />
</form>
<br />
<form action="/timecfg" method="POST">
	剩余时间：
	<input type="text" name="day" value="1" />天
	<input type="text" name="hour" value="23" />时
	<input type="text" name="min" value="59" />分
	<input type="hidden" name="endTime" />
	<input type="submit" />
</form>
<br />
<form action="/amount" method="POST">
	参战人数：
	<input type="text" name="amount" value="30" />
	<input type="submit" />
</form>
<br />
<form action="/bulletin" method="POST">
	公告：
	<input type="text" name="bulletin" />
	<input type="submit" />
</form>

<script>
var date = new Date(new Date().valueOf() + 172740000);
var dateField = document.getElementsByName('date')[0];
var timeField = document.getElementsByName('time')[0];

dateField.value = date.getFullYear() + '-' + (date.getMonth() + 1).toString() + '-' + date.getDate();
timeField.value = date.getHours() + ':' + date.getMinutes();

document.getElementsByTagName('form')[0].onsubmit = function () {
	var endTime = new Date(dateField.value + ' ' + timeField.value).valueOf();
	if (endTime) {
		document.getElementsByName('endTime')[0].value = endTime;
	} else {
		return false;
	}
};

document.getElementsByTagName('form')[1].onsubmit = function () {
	var endTime = parseInt(new Date().valueOf() / 1000) * 1000;
	endTime += parseInt(document.getElementsByName('day')[0].value) * 86400000;
	endTime += parseInt(document.getElementsByName('hour')[0].value) * 3600000;
	endTime += parseInt(document.getElementsByName('min')[0].value) * 60000;

	if (endTime) {
		document.getElementsByName('endTime')[1].value = endTime;
	} else {
		return false;
	}
};

</script>

</body>
</html>